@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Syne';
	src: url('/fonts/syne/Syne-VariableFont_wght.woff2') format('woff2');
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-sans: 'Syne', sans-serif;
}

@layer components {
	.glass {
		@apply border-2 border-white/20 bg-white/10 backdrop-blur-2xl;
	}
}
